<main class="main1 container">
    <div class="row">
        <form action="">
            <div class="row justify-content-center align-items-center">
                <p style="text-align: center;">Create Your Project Now !!</p>
            </div>
            <div class="form-group row">
                <label for="name" class="col-2 col-form-label">Project Name</label>
                <div class="col-9">
                    <input type="text" class="form-control" name="name" id="name" placeholder="demo">
                </div>
            </div>
            <div class="form-group row">
                <label for="Description" class="col-2 col-form-label">Description</label>
                <div class="col-9">
                    <textarea class="form-control" name="Description" id="Description">Description</textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="EndDate" class="col-2 col-form-label">End Date</label>
                <div class="col-9">
                    <input type="date" class="form-control date" name="EndDate" id="EndDate" value="2200-11-03">
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</main>
