
<main >
    <div class="container">
        <div class="s1 row justify-content-center align-items-center">
            <h1 class="f f2">Projecty Site Edition</h1>
            <p class="f f1">Welcome to your new favorite site. Get the latest features, fast performance, and friendly development tools you need for your projects.</p>
        </div>
    </div>

    <section class="sec1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="ffffff" fill-opacity="1" d="M0,224L48,224C96,224,192,224,288,192C384,160,480,96,576,80C672,64,768,96,864,106.7C960,117,1056,107,1152,133.3C1248,160,1344,224,1392,256L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
          </svg>
        <div class="justeAHeight container">
            <div class=" row GetStarted  align-items-center">
                <button class=" btn getS">
                    Get Started Now >>>
                </button>
                <br>
            </div>
            <p class="dw">Create your first project now</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="ffffff" fill-opacity="1" d="M0,224L48,224C96,224,192,224,288,192C384,160,480,96,576,80C672,64,768,96,864,106.7C960,117,1056,107,1152,133.3C1248,160,1344,224,1392,256L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
    </section>
    <section class="container ">
        <div class="row justify-content-center align-items-center">
            <form class=" bg-light row justify-content-center align-items-center Homeform"  action="#" method="post" id="subscribe-form">
                <label  class="label" for="email">Subscribe to get the newsletter:</label>
                <input class="form-control col-7 " type="email" id="email" name="email" placeholder="Your email address" required>
                <button class="btn"type="submit">Subscribe</button>
            </form>  
        </div>
      
    </section>
    <section class="s3">

    </section>
</main>