.name{

}
thead tr td{
    background-color: #f8f9fa;
    color: #666;
}
svg{
    margin-right: 7px;
    margin-left: 7px;
    cursor: pointer;
}
.pp{
    font-size: 1.3rem;
    font-weight: 500;
    color: #666;
    height: fit-content;
    margin-bottom: 15px;
    /*background-color: #f8f9fa ;*/
}
img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #666;
    padding: 2px;
    margin: 3px;
    margin-top: 0;
    cursor: pointer;
    margin-bottom: 10px;
}
form{
    background-color: #f8f9fa;
    margin-bottom: 10px;
}
input{
    margin: 0;
    padding: 0;
    height: 40px;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    padding-left: 10px ;
    color: #666;
}
input:active{
    border: 1px solid red;
}
ul li{
    list-style: none;
    width: 100%;
}
.msgSpan{
    width: 100%;
}
ul, li{
    padding: 0;
    margin: 0;
}
.msgSpan{
    font-weight: 500;
}
.c{
    padding-top: 10px;
}
li{
    background-color: #f8f9fa;
}
.btn-submit:hover{
    background-color: #777 !important;

}
.btn-submit{
    width: fit-content;
    padding-right: 10px;
}
main{
    margin-top: 30px;
    padding-top: 0px;
    background-color: #f8f9fa;
    box-shadow: 0px 0px 7px #f8f9fa;
}
.input{
    background-color: white;
}
.btn{
    border: none;
    margin: 0 !important;
    margin-bottom: 1px;
}
input:focus{
    border: none;
    outline: 1px #f8f9fa;
}
.btn:hover{
    background-color: #ddd !important;
    margin: 0 !important;
    border: none;
    height: 40px;
    border-radius: 0;
}
button{
    height: 40px;
    border: none;
}
.del{
    height: 60px;
}
.del:hover{
    height: 60px;
    background-color: rgba(164, 8, 8, 0.347) !important;
}